/* Estilos para la calculadora */
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Genera 4 columnas de igual tamaño */
    grid-template-rows: repeat(6, 1fr); /* Genera 6 filas de igual tamaño */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  
  .calculator > div {
    background: #EFEFEF;
    padding: 25px;
    text-align: center;
    box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888,
      /* Para arreglar la esquina. Solución de aquí: [^1^][5] */
      2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
    border-radius: 5px;
  }
  
  /* Personaliza los estilos según tus preferencias */