.navbar {
    background:  #ffb71b !important;
    align-items: right;
    justify-content: right;
    padding: 10px;
    
 }

 .container-fluid{
    background:  #191f6c !important;
    align-items: right;
    justify-content: right;
    padding: 10px;
 }

 .collapse {
   padding: 50px;
   justify-content: right;
 }

 .nav-link {
    color:#ffb71b !important;
    justify-content: right;
 }
