/* Estilos para NavBar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #1a428a;
  border-bottom: 6px solid #e9be6c;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 96px;
  height: 96px;
}

.spin-slow {
  animation: spin-vertical 10s linear infinite;
}

@keyframes spin-vertical {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

.letras {
  height: 96px;
  width: auto;
}

.menu-button {
  background: none;
  border: none;
  color: #e9be6c;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 16px;
}

.navbar-links {
  display: flex;
  gap: 16px;
}

.navbar-links a {
  color: #e9be6c;
  text-decoration: none;
}

.user-icon {
  color: #e9be6c;
}

.divider {
  border: 8px solid #e9be6c;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.divider::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #ffdb75, transparent);
  animation: shine-effect 1s infinite linear;
}

@keyframes shine-effect {
  0% {
      left: -100%;
  }
  100% {
      left: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }
  
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 16px;
      background-color: #1a428a;
      padding: 10px;
      border-radius: 8px;
  }
  
  .navbar-links.open {
      display: flex;
  }
  
  .user-icon {
      display: none;
  }
}

@media (min-width: 769px) {
  .menu-button {
      display: none;
  }
}
