.carousel {
    align-items: center;
    justify-content: center;
}

.carousel-inner{
    align-items: center;
    justify-content: center;
}

.carousel-item{
    font-size: 4em;
    margin-left: 105px;
    margin-top: 105px;    
}

.carousel-control-next-icon{
    margin-top: 105px; 
}

.carousel-control-prev-icon{
    margin-top: 105px;
}