/* Estilos para SorteoInfo */
.sorteo-info {
  background-color: #1a428a;
  padding: 8px;
  margin-bottom: 4px; /* Reduce la separación con los demás componentes */
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sorteo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorteo-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sorteo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px; /* Reduce la separación entre elementos */
}

.sorteo-label {
  font-weight: bold;
  color: #e9be6c;
  font-size: 28px; /* Mantiene el tamaño del texto constante */
  margin-right: 8px;
}

.sorteo-value {
  color: #e9be6c;
  font-size: 28px; /* Mantiene el tamaño del texto constante */
}

@media (max-width: 640px) {
  .sorteo-content {
      flex-direction: column;
  }
  
  .sorteo-item:last-child {
      margin-top: 1;
  }
  
  .sorteo-label, .sorteo-value {
      font-size: 14px; /* Reduce el tamaño de la fecha para que no ocupe dos líneas */
  }
}

@media (min-width: 768px) {
  .sorteo-info {
      padding: 8px;
  }
}
